<!-- <form action="." method="post"> -->
<!-- <form action="/admin/main" method="get"> -->
<!-- <form action="/admin/main" method="post"> -->
<!-- <form action="/admin/sub1" method="get"> -->
<table border="2">
	<tr>
  		<th>Action</th>
  		<th></th>
	</tr>

	<tr>
		<td>
				Refactor the table: word_lists
		</td>
		<td>
			<form action="/admin/sub1" method="post">
				
				<!-- <input type="button" value="Do" id="item_refactor_table_word_lists" /> -->
				<input type="submit" value="Do"
						id="item_refactor_table_word_lists"
						name="item_refactor_table_word_lists" />
		</td>
			
		</form>
	</tr>
	
	<tr>
		<td>
				Refactor: t.words => If text_id num isn't contained in text_ids num, then text << text.word
		</td>
		<td>
			<form action="/admin/sub1" method="post">
				
				<!-- <input type="button" value="Do" id="item_refactor_table_word_lists" /> -->
				<input type="submit" value="Do"
						id="item_refactor_text_ids"
						name="item_refactor_text_ids" />
		</td>
			
		</form>
	</tr>
	
</table>

<br />
