<h1>
	<a name="top">Admin#main</a>
</h1>

<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<p>Find me in app/views/admin/main.html.erb</p>
<hr />

@contentArray = <%= @contentArray.class %><br />
@contentArray.length = <%= @contentArray.length %><br />
<hr />

<% for i in 0..@contentArray.length - 1 %>

	<%= @contentArray[i] %><br />

<% end %>

<hr />
<a href="#top" style="margin: 0px 25px;">(To top)</a>
<a name="bottom"></a>