<h1><a name="top">New word_list</a></h1>
<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<%= render 'form' %>

<%= link_to 'Back', word_lists_path %>
<a name="bottom"></a>
&nbsp;<a href="#top" style="margin: 0px 25px;">(To top)</a>