<h1><a name="top">New word</a></h1>
<a href="#bottom" style="margin: 0px 25px;">(To bottom)</a>

<%= render 'form' %>

<%= link_to 'Back', words_path %>
<!-- (@word.text_id => <%#= @word.text_id%>) -->
<a name="bottom"></a>
&nbsp;<a href="#top" style="margin: 0px 25px;">(To top)</a>