<h1>Listing images</h1>

<table>

	<%= render :partial => "index_table_header" %>
	
	<%= render :partial => "index_table_entries" %>
		
</table>

<br />

<%= link_to 'New Image', new_image_path %>

<hr />
<input type="button" value="Show log"   id="show_button" /> |
<!--
	REF disabled http://html.eweb-design.com/0903_btn.html
-->
<input type="button" value="Hide log"   class="hide_button" disabled/>

<p>CLICK here</p>

<!-- <div id="logs"> -->

<%= render :partial => "index_logs" %>
	
