<!DOCTYPE html>
<html>
<head>

	<%= render :partial => "layouts/application_head" %>

</head>
<body>

<a name="top"><hr /></a>
<%= render :partial => "layouts/footer_main" %>
<hr />

<%= yield %>

<hr />
<%= render :partial => "layouts/footer_main" %>
<hr />

</body>
</html>
